
<% if user_signed_in? %>

<div class="container">
  <div class ="row">
    <div class = "col-md-4 col-md-offset-4 text-center">
      <h1 class="title-text">Current Progress</h1>
      <br>
      <% if  !(Saving.where(user_id: params[:user_id]).count.zero?) %>
        <h2 class="title-text">You have saved $<%=@progress %> so far!</h2>
        <h2 class="title-text">That is <%=number_to_percentage(@percent, precision: 1) %> towards <%=@goal_title%>!</h2>
      <%else%>
        <h2 class="title-text">You haven't added any savings yet!</h2>
        <h2 class="title-text">Add some <%= link_to "here" , new_user_savings_path(user_id: current_user.id) %> </h2>
      <%end%>
<div id="content">

    <div id="thermo1" class="thermometer horizontal">

        <div class="track">
            <div class="goal">
                <div class="amount"><%= @goal_amount%></div>
            </div>
            <div class="progress">
                <div class="amount"><%= @progress%></div>
            </div>
        </div>

    </div>

</div>
    </div>
  </div>
</div>

<% else %>

<%= render "new" %>

<% end %>